<footer class="page-footer font-small lighten-3 bg-light pt-3">
    <div class="container text-center text-md-left">
      <div class="row">
          <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
            <h5 class="font-weight-bold text-uppercase mb-4">Our Team</h5>
            <p style="font-size: 20px;text-transform: uppercase;">Shah Darsh <br> Shah Divya <br> Sodha Nihar</p>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a  [routerLink]="['/home']">Home</a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/product']">Products</a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/selectlogin']">Login</a>
              </p>
            </li>
            <li>
              <p>
                <a [routerLink]="['/contact']">Contact Us</a>
              </p>
            </li>
          </ul>
          </div>
          <hr class="clearfix w-100 d-md-none">
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-home mr-3"></i> College Road,Nadiad</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope mr-3"></i>readytomove@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone mr-3"></i> +91 97141 74778</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone mr-3"></i> +91 73833 67447 </p>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>
