<section class="main_signup" style="-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 14px;
line-height: 1.42857143;
color: #333;
font-family: 'Merriweather Sans', sans-serif;
box-sizing: border-box;
background: rgba(0, 0, 0, 0) url(/assets/2.jpg) repeat scroll 0 0 / cover;
display: block;
float: left;
min-height: 650px;
padding: 28px 0;
position: relative;
width: 100%;
z-index: 0;">
<div class="container">
<div class="row">
        <div class="col-lg-push-3 col-md-push-3 col-lg-6" style="margin-left: 24%;">
            <div class="snup_bx wow zoomIn  animated" style="visibility: visible;">
                <h2>Login</h2>
               <div class="clearfix"></div>
               <div class="_sinup_bx">
                    <p>I am a ...</p>

                    <a [routerLink]="['/login']" style="    -webkit-tap-highlight-color: rgba(0,0,0,0);line-height: 1.42857143;
                    font-family: 'Merriweather Sans', sans-serif;
                    visibility: visible;
                    box-sizing: border-box;
                    background-color: transparent;
                    text-decoration: none;
                    color: rgb(102, 102, 102);
                    display: block;
                    float: left;
                    font-size: 18px;
                    font-weight: normal;
                    height: 14rem;
                    text-align: center;
                    width: 40%;
                    margin: 0 90px 35% 9px;"><span style="  -webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.42857143;
font-family: 'Merriweather Sans', sans-serif;
visibility: visible;
color: rgb(102, 102, 102);
font-size: 18px;
font-weight: normal;
text-align: center;
box-sizing: border-box;
border: 1px dashed rgb(14, 97, 89);
display: block;
margin-bottom: 10px;
padding: 30px;"><img src="http://haultips.com/public/user/img/customer_img.png" alt="" style="-webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.42857143;
font-family: 'Merriweather Sans', sans-serif;
visibility: visible;
color: rgb(102, 102, 102);
font-size: 18px;
font-weight: normal;
text-align: center;
box-sizing: border-box;
border: 0;
vertical-align: middle;"></span> User</a>
                    <a [routerLink]="['/moverlogin']" style="-webkit-tap-highlight-color: rgba(0,0,0,0);
                    line-height: 1.42857143;
                    font-family: 'Merriweather Sans', sans-serif;
                    visibility: visible;
                    box-sizing: border-box;
                    background-color: transparent;
                    text-decoration: none;
                    color: rgb(102, 102, 102);
                    display: block;
                    float: left;
                    font-size: 18px;
                    font-weight: normal;
                    height: 14rem;
                    text-align: center;
                    width: 40%;"><span style="-webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.42857143;
font-family: 'Merriweather Sans', sans-serif;
visibility: visible;
color: rgb(102, 102, 102);
font-size: 18px;
font-weight: normal;
text-align: center;
box-sizing: border-box;
border: 1px dashed rgb(14, 97, 89);
display: block;
margin-bottom: 10px;
padding: 30px;"><img src="http://haultips.com/public/user/img/partner_img.png" alt="" style="-webkit-tap-highlight-color: rgba(0,0,0,0);
line-height: 1.42857143;
font-family: 'Merriweather Sans', sans-serif;
visibility: visible;
color: rgb(102, 102, 102);
font-size: 18px;
font-weight: normal;
text-align: center;
box-sizing: border-box;
border: 0;
vertical-align: middle;"></span>Movers</a>

               </div>
            </div>
        </div>
    </div>
</div>
</section>