<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="employees">
                    <p class="counter-count">{{ud}}</p>
                    <p class="employee-p">Total Users</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer">
                    <p class="counter-count">{{rd}}</p>
                    <p class="customer-p">Total Requests</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="design">
                    <p class="counter-count">{{md}}</p>
                    <p class="design-p">Total Movers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="order">
                    <p class="counter-count">{{cd}}</p>
                    <p class="order-p">Total Messages</p>
                </div>
            </div>
        </div>
    </div>
</div>