<div style="margin-top: 105px ;margin-left: 13%" ><h2>How It Works</h2></div>
    <table style="border-top: dotted 1px;border-left: dotted 1px;border-bottom: dotted 1px; margin-top: 6%;margin-left: 17%" width="69%">
        <tr>
            <td><div style="margin-left:-50%"><img src="assets/howit-img-01.png" class="rounded-circle" height="250px" width="250px"></div>
            <td>
                <h3>Registration as User or a Partner</h3>
                <p>Register on ReadyToMove website as a user or a partner. As a user,you will get to choose from the variant services and as a partner, you can place bid the client requirements.  </p>
            </td>
        </tr>
    </table>
    <table style="border-right:dotted 1px;border-bottom:dotted 1px; margin-left: 17%" width="69%" >
        <tr>
            <td>
                <h3>Choose the Service</h3>
                <p>As a user,you can select from the three main services provided by ReadyToMove- packers & movers based on the type of requirement you have.</p>
            </td>
            <td><div style="margin-left: 49%"><img src="assets/howit-img-02.png" class="rounded-circle" height="250px" width="250px"></div></td>
        </tr>
    </table>
    <table style="border-left: dotted 1px;border-bottom: dotted 1px;margin-left: 17%" width="69%">
        <tr>
            <td><div style="margin-left:-50%"><img src="assets/howit-img-03.png" class="rounded-circle" height="250px" width="250px"></div>
            <td>
                <h3>Select the Date & Time</h3>
                <p>Once you have chosen the services, the next thing you have to do is select the pickup and delivery date and timing as well as the place so as to let the partners know about your exact requirements.By knowing the specific date and timings, the transporters and packing & moving services will be able to place a bid on your requirement in an effectual manner.</p>
            </td>
        </tr>
    </table>
    <table style="border-right:dotted 1px;border-bottom:dotted 1px; margin-left: 17%" width="69%" >
        <tr>
            <td>
                <h3>Place Bids on the Requirements</h3>
                <p> Being a Partner, you can place bids on the customer requirements based on the pickup and delivery times as well as the location. You will be able to view the lowest bid on a particular requirement as well.</p>
            </td>
            <td><div style="margin-left: 49%"><img src="assets/howit-img-04.png" class="rounded-circle" height="250px" width="250px"></div></td>
        </tr>
    </table>
    <table style="border-left: dotted 1px;margin-left: 17%" width="69%">
        <tr>
            <td><div style="margin-left:-50%"><img src="assets/howit-img-05.png" class="rounded-circle" height="250px" width="250px"></div>
            <td>
                <h3>Get Round the Clock Assistance</h3>
                <p>At ReadyToMove, we provide round the clock support to our customers as well as partners so as to make it easy for them to contact us in tims of need. You can reach out to us by calling us on our number ________ or can also drop us a mail on _________.</p>
            </td>
        </tr>
    </table>



