<div class="table-responsive">
    <!--Table-->
    <table class="table table-striped">
  
      <!--Table head-->
      <thead>
        <tr>
          <th>No.</th>
          <th>Owner Name</th>
          <th>Company Name</th>
          <th>E-mail</th>
          <th>Mobile Number</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>
      <!--Table head-->
  
      <!--Table body-->
      <tbody>
        <tr *ngFor="let obj of MoverList,index as id">
          <td>#</td>
          <td>{{obj.ownername}}</td>
          <td>{{obj.companyname}}</td>
          <td>{{obj.email}}</td>
          <td>{{obj.number}}</td>
          <td><a class="fa fa-eye" style='text-decoration: none;font-size: 20px;color: green;' [routerLink]="['/home']">View</a></td>
          <td><a class='fa fa-trash' style='font-size:20px;color:red' (click)="deleteMover(id)">Delete</a></td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  </div>